/*contact*/
.imgHeadercont {
	background-image: url(../image/large.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 820px;
}
.fondoBlackcont {
	background-color: rgba(0,0,9,0.4);
	height: 820px;
}
.fondoBlanco {
	background-color: white;
	margin-top: 5%;
	margin-left: 20%;
	width: 60%;
	height: 670px;
	border-top: 4px #58ACFA solid;
	
}

/*formulario*/
label  {
	color: grey;
}
 span {
 	color: red;
 }
 .coloContact, .colLink{
 	color: grey;

 }
 textarea, input {
 	width: 90%;
 }
 .enviar {
 	background-color: #58ACFA;
 	color: white;
 	width: 35%;
 	border: none;

 }
@media screen and (min-width: 600px) {
	.imgHeadercont {
	background-image: url(../image/large.jpg);
	background-repeat: repeat;
	background-size: 100%;
	height: 830px;
}

}
@media screen and (min-width: 800px) {
	.imgHeadercont {
	background-image: url(../image/large.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 830px;
}
    .fondoBlanco {
	background-color: white;
	margin-top: 5%;
	margin-left: 20%;
	width: 60%;
	height: 570px;
	border-top: 4px #58ACFA solid;
	
}
    .fondoBlackcont {
	background-color: rgba(0,0,9,0.4);
	height: 686px;
}

}